<!DOCTYPE html>
<html>
  <head>
    <title>My_blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div id=header>
        <strong>RailsBlog</strong>
        <hr>
      </div>
      <div id="content">
      <%= yield %>
      </div><br>
      <% if user_signed_in? %>
        <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
      
  </body>
</html>
